<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://teknavo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-am2-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>teknavo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$teknavo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:riokuvjku7.database.windows.net,1433;Initial Catalog=teknavoDB;User ID=tacndbsa@riokuvjku7;Password=Magic2012!" Name="Data Source=tcp:riokuvjku7.database.windows.net,1433;Initial Catalog=teknavoDB;User Id=tacndbsa@riokuvjku7;Password=Magic2012!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Teknavo.Models.DataContext, Teknavo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:riokuvjku7.database.windows.net,1433;Initial Catalog=teknavoDB;User Id=tacndbsa@riokuvjku7;Password=Magic2012!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>