	<div class="mainContainer">
		<nav class="navbar navbar-default" role="navigation">
			<a class="navbar-brand" href="#">Matrix Editor</a>
	  		<input type="file" id="fileBtn" accept=".txt">
            <button type="button" class="btn btn-default navbar-btn" id="createMatrixBtn">Create</button>
			<button type="button" class="btn btn-default navbar-btn" id="selectFileBtn">Load From File</button>
            <button type="button" class="btn btn-default navbar-btn" id="loadMatrixBtn">Load From Site</button>
            <button type="button" class="btn btn-default navbar-btn" id="saveMatrixBtn">Save</button>
			<button type="button" class="btn btn-default navbar-btn" id="clearMatrixBtn">Clear</button>
            <button type="button" class="btn btn-default navbar-btn" id="deleteMatrixBtn" style="display: none">Delete</button>
            <button type="button" class="btn btn-default navbar-btn" id="editMatrixBtn">Edit</button>
     		<button type="button" class="btn btn-default navbar-btn navbar-right" id="collapseBtn">Collapse/Expand</button>
		</nav>

        <div id="matrixView" align="center">
        </div>

	</div>

    <div id="editMatrixPropsView">
    </div>
